.container {
  padding: 0 2rem;
  height: 100vh;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
  height: 100%;
}

.card {
  text-align: center;
  border: 2px black dashed;
  padding: 50px;
}


.textContent {
  text-align: center;
}

.primaryButton {
  padding: 8px;
  width: 200px;
  background-color:orange;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: rgb(185, 122, 5);
}

.primaryButton:active {
  opacity: 0.7;
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}